[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "*"
django-environ = "*"
django-json-widget = "*"
django-debug-toolbar = "*"
django-crispy-forms = "*"
ua-parser = "*"
ipinfo = "*"
requests = "*"
shodan = "*"
django-rq = "*"

[requires]
python_version = "3.7"
