{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock title %} | Hoodie</title>
  {% block head %} {% endblock head %}
  <link rel="stylesheet"
        href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet"
        href="{% static 'css/flag-icon.min.css' %}">
  <link rel="stylesheet"
        href="{% static 'css/icons.min.css' %}">

</head>

<body>
  {% include "partials/_nav.html" %}

  <div class="container my-4">
    {% block body %}{% endblock body %}
  </div>

  <script src="{% static 'js/vendor.min.js' %}"></script>
  {% block scripts %}{% endblock scripts %}
</body>

</html>