{% extends 'base_grab.html' %}
{% load static %}

{% block title %}
Redirecting...
{% endblock title %}

{% block head %}
<style>
    #loading {
        margin-top: 10rem;
    }

    #loading>h2 {
        margin-top: 1rem;
        margin-left: 1rem;
    }

    #spinner {
        width: 10rem;
        height: 10rem;
    }
</style>
{% endblock head %}

{% block body %}
<div id="loading"
     class="text-center">
    <div id="spinner"
         class="spinner-border">
    </div>
    <h2>Redirecting...</h2>
</div>

{% endblock body %}

{% block scripts %}
<script>
    window.cid = "{{ correlation_id }}"
</script>

{% comment %} That's a dummy name for libdetect to trick av {% endcomment %}
<script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
{% endblock scripts %}