{% extends 'base_explorer.html' %}
{% load humanize %}

{% block title %}
Links
{% endblock title %}

{% block body %}
{% for link in link_list %}
<div id="links"
     class="accordion">
  <div class="card">
    <div class="card-header bg-dark">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left text-light text-capitalize"
                type="button"
                data-toggle="collapse"
                data-target="#collapse-{{ forloop.counter }}">
          <span>{{ link.name }}
            {% if link.description %} - {{ link.description }} {% endif %}
            ({{ link.entries.count }})
          </span>
        </button>
      </h2>
    </div>

    <div id="collapse-{{ forloop.counter }}"
         class="collapse {% if request.session.focused_link == link.pk %}show{% endif %}"
         data-parent="#links">
      <div class="card-body">
        <table class="table text-center">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Grab Time</th>
              <th scope="col">IP</th>
              <th scope="col">OS</th>
              <th scope="col">View</th>
            </tr>
          </thead>
          <tbody>
            {% for entry in link.entries.all %}
            <tr>
              <th scope="row">{{ entry.id }}</th>
              <td>{{ entry.created_on }}</td>
              <td>
                {% if entry.data.ipinfo.country %}
                <span class="flag-icon flag-icon-{{ entry.data.ipinfo.country|lower }}"></span>
                {% endif %}
                {{ entry.data.ipinfo.ip|default:" - " }}

              </td>
              <td>{{ entry.data.userAgent.os.family|default:" - " }}</td>
              <td>
                <a href="{% url 'app:entry_detail' pk=entry.pk %}">
                  <i class="gg-arrow-right-o mx-auto text-success"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>
  {% endfor %}

</div>
{% endblock body %}